<header class="navigation col-xs-12">
    <div class="logo">
        <img src="../../assets/All-currency-symbol.svg.png"/>
        <p class="title">CurrenC</p>
    </div>
    <div class="switchPage" ng-controller="logoutController" class="logout">
        <a href="#/dashboard" class="btn btn-default">Dashboard</a>
        <a class="btn btn-default" ng-disabled="disabled" ng-click="logout()">Logout</a>
    </div>
</header>

<div ng-controller="predictController" >
    <!-- <div  class="col-xs-12 col-md-6"> -->
      <h3>Prediction</h3>
      <div class='prediction' ng-model='prediction'> Prediction: {{prediction}}  </div>
      <form class="form2" ng-submit="predict()">
          <div class="form-group">
              <label>Currency Code</label>
              <input type="text" class="form-control" name="code" ng-model="predict.code" required>
          </div>
          <div class="form-group">
              <label>Date (YYYYMMDD)</label>
              <input type="text" class="form-control" name="date" ng-model="predict.date" required>
          </div>
          <div>
              <button type="submit" class="predictButton" ng-disabled="disabled">Predict</button>
          </div>
      </form>
    <!-- </div> -->
</div>


<footer class="footer col-xs-12">
    <p>Made with <i class="fa fa-heart faa-pulse animated" aria-hidden="true"></i> by CurrenC Inc. </p>
</footer>
